@import url(http://fonts.googleapis.com/css?family=Oswald:300,400,700);
/* CONFIG */
/* typography */
/* END typography */
/*media*/
/*END MEDIA*/
/*COLOR*/
/* CONFIG */
/* typography */
/* END typography */
/*media*/
/*END MEDIA*/
/*COLOR*/
/*l * 100 / 1024*/
/* CONFIG */
/* typography */
/* END typography */
/*media*/
/*END MEDIA*/
/*COLOR*/
/*l * 100 / 1024*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* CONFIG */
/* typography */
/* END typography */
/*media*/
/*END MEDIA*/
/*COLOR*/
/*l * 100 / 1024*/
/* CONFIG */
/* typography */
/* END typography */
/*media*/
/*END MEDIA*/
/*COLOR*/
body {
  font-family: palatino, "palatino lt std", "palatino linotype", "book antiqua", garamond, serif;
  font-size: 15px;
  line-height: 1.5;
  color: #111111;
  min-height: 100%;
  height: auto !important;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; }

html {
  min-height: 100%;
  height: auto !important; }

.container {
  position: relative; }

.main {
  min-height: 100%;
  height: auto !important; }

a {
  color: #5097bd; }
  a:hover, a:focus, a:active {
    text-decoration: none;
    outline: 0; }

p {
  margin: 0.5em 0;
  line-height: 1.5;
  font-family: palatino, "palatino lt std", "palatino linotype", "book antiqua", garamond, serif; }

.container {
  width: 100%;
  margin: auto;
  display: block;
  float: none;
  box-sizing: border-box;
  min-height: 100%;
  margin-bottom: 0; }
  .container:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

h1, h2, h3, h4, h5, h6 {
  line-height: 0.75;
  font-weight: bold;
  padding-bottom: 0.2em;
  margin-bottom: 0;
  margin-top: 0; }

h1 {
  font-size: 2.5416em;
  border-bottom: 1px solid #eeeeee; }

h2 {
  font-size: 1.998em;
  border-bottom: 1px solid #eeeeee; }

h3 {
  font-size: 1.5708em;
  border-bottom: 1px solid #eeeeee; }

h4 {
  font-size: 0.9708em; }

h5 {
  font-size: 1.2em; }

h6 {
  font-size: 1.1em; }

.logo {
  margin: 1em 0;
  border-bottom: 0;
  font-size: 1.8em;
  color: white; }

.section {
  display: inline-block;
  position: absolute;
  height: 0;
  text-indent: -99999999px;
  border: none;
  padding: 0;
  margin: 0; }

.reader {
  display: inline-block;
  position: absolute;
  height: 0;
  text-indent: -99999999px;
  border: none; }

.hide {
  display: none !important; }

.wrapper {
  max-width: 1200px;
  margin: auto;
  height: auto !important;
  box-sizing: border-box;
  width: 100%;
  margin: auto;
  display: block;
  float: none;
  box-sizing: border-box; }
  .wrapper:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  .wrapper:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

article, .article {
  padding-bottom: 2em;
  margin-bottom: 1em;
  border-bottom: 1px solid #bfbfbf;
  position: relative; }

h1, h2, h3, h4 {
  text-align: center; }

.breadcrumbs {
  background-color: #f2f2f2;
  padding: 0.2em 0;
  width: 100%;
  margin: auto;
  display: block;
  float: none;
  box-sizing: border-box;
  margin: 0.5em auto; }
  .breadcrumbs:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

.btn, input[type=submit], button {
  color: white;
  text-align: center;
  background-color: #5097bd;
  padding: 6px 12px;
  border: none;
  margin: 5px 0;
  display: inline-block;
  text-decoration: none;
  box-sizing: border-box; }
  .btn:hover, input[type=submit]:hover, button:hover {
    -webkit-box-shadow: #75adcb 0 0 2px 1px;
    -moz-box-shadow: #75adcb 0 0 2px 1px;
    box-shadow: #75adcb 0 0 2px 1px;
    background-color: #438ab1;
    border: none; }
  .btn:focus, input[type=submit]:focus, button:focus {
    -webkit-box-shadow: #5097bd 0 0 2px 1px;
    -moz-box-shadow: #5097bd 0 0 2px 1px;
    box-shadow: #5097bd 0 0 2px 1px;
    background-color: #3c7c9e;
    border: none; }
  .btn:visited, input[type=submit]:visited, button:visited {
    color: rgba(255, 255, 255, 0.9); }
  .btn a, input[type=submit] a, button a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    border: none; }
    .btn a:hover, input[type=submit] a:hover, button a:hover {
      border: none;
      background-color: transparent; }
    .btn a:visited, input[type=submit] a:visited, button a:visited {
      color: rgba(255, 255, 255, 0.8); }

.creer {
  text-indent: -99999px;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  background-image: url('../img/framework/icon/add.png?1387050495');
  background-repeat: no-repeat;
  background-position: center;
  padding: 2px;
  background-color: white; }
  .creer:hover, .creer:focus {
    -webkit-transform: scale(1.3, 1.3);
    -moz-transform: scale(1.3, 1.3);
    -ms-transform: scale(1.3, 1.3);
    -o-transform: scale(1.3, 1.3);
    transform: scale(1.3, 1.3);
    background-color: white; }

.modifier {
  text-indent: -99999px;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  background-image: url('../img/framework/icon/edit.png?1387050565');
  background-repeat: no-repeat;
  background-position: center;
  padding: 2px;
  background-color: white;
  border: 1px solid #111111; }
  .modifier:hover, .modifier:focus {
    -webkit-transform: scale(1.3, 1.3);
    -moz-transform: scale(1.3, 1.3);
    -ms-transform: scale(1.3, 1.3);
    -o-transform: scale(1.3, 1.3);
    transform: scale(1.3, 1.3);
    background-color: white; }

.supprimer {
  text-indent: -99999px;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  background-image: url('../img/framework/icon/delete.png?1387050668');
  background-repeat: no-repeat;
  background-position: center;
  padding: 2px;
  background-color: white;
  border: 1px solid #111111; }
  .supprimer:hover, .supprimer:focus {
    -webkit-transform: scale(1.3, 1.3);
    -moz-transform: scale(1.3, 1.3);
    -ms-transform: scale(1.3, 1.3);
    -o-transform: scale(1.3, 1.3);
    transform: scale(1.3, 1.3);
    background-color: white; }

input[type=search] ~ input[type=submit] {
  text-indent: -99999px;
  background-image: url("../img/framework/icon/search.png");
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center; }

label {
  padding: 10px 2px;
  display: inline-block; }

form {
  width: 100%; }

input, textarea {
  display: inline-block;
  border: 1px solid #bfbfbf;
  background-color: #f2f2f2;
  padding: 2px 1em;
  margin: 10px 10px 10px 0;
  height: 40px;
  float: left;
  box-sizing: border-box; }
  input:hover, textarea:hover {
    border: 1px solid #75adcb;
    outline: none;
    background-color: #FFF;
    -webkit-box-shadow: #75adcb 0 0 2px 1px;
    -moz-box-shadow: #75adcb 0 0 2px 1px;
    box-shadow: #75adcb 0 0 2px 1px; }
  input:focus, textarea:focus {
    border: 1px solid #5097bd;
    outline: none;
    background-color: #FFF;
    -webkit-box-shadow: #5097bd 0 0 2px 1px;
    -moz-box-shadow: #5097bd 0 0 2px 1px;
    box-shadow: #5097bd 0 0 2px 1px; }
  input:hover label, textarea:hover label {
    background-color: red; }

@media (max-width: 500px) {
  input {
    width: auto;
    display: block; } }
img {
  max-width: 100%;
  margin: 0.5em 0; }

.icon {
  width: 32px;
  height: 32px;
  display: inline-block;
  float: left;
  margin-right: 0.5em;
  top: 0;
  text-indent: -999999px;
  background-size: 100%; }

.icon-menu {
  background-image: url("../img/framework/icon/menu2White.png"); }

.icon-chevron-left-little {
  background-image: url("../img/framework/icon/chevron-left-little.png"); }

.icon-chevron-right-little {
  background-image: url("../img/framework/icon/chevron-right-little.png"); }

.icon-chevron-right-white {
  float: right;
  background-image: url("../img/framework/icon/chevron-rightWhite.png"); }

.icon-chevron-right-little-white {
  height: 16px;
  width: 16px;
  background-image: url("../img/framework/icon/chevron-right-littleWhite.png"); }

.icon-chevron-bottom-white {
  float: right;
  background-image: url("../img/framework/icon/chevron-bottomWhite.png"); }

.icon-shop-white {
  float: right;
  background-image: url("../img/framework/icon/shopWhite.png"); }

.icon-map-little {
  height: 16px;
  width: 16px;
  float: right;
  background-image: url("../img/framework/icon/map-little.png"); }

.icon-email-little {
  height: 16px;
  width: 16px;
  float: right;
  background-image: url("../img/framework/icon/mail-little.png"); }

.icon-tel-little {
  height: 16px;
  width: 16px;
  float: right;
  background-image: url("../img/framework/icon/tel-little.png"); }

.icon-bag-white {
  height: 32px;
  width: 32px;
  background-image: url("../img/framework/icon/bagWhite.png"); }

.icon-go-white {
  height: 32px;
  width: 32px;
  background-image: url("../img/framework/icon/goWhite.png"); }

.icon-login {
  height: 16px;
  width: 16px;
  float: none;
  background-image: url("../img/framework/icon/login.png"); }

.icon-account {
  height: 16px;
  float: none;
  width: 16px;
  background-image: url("../img/framework/icon/account.png"); }

.tab a {
  font-family: Oswald, georgia, "Helvetica neue", arial, freesans, clean, sans-serif; }

/* GENERAL */
body {
  background-color: #5097bd;
  background-image: url('../img/framework/background/background.jpg?1384347602');
  background-size: cover;
  background-attachment: fixed;
  height: auto !important; }

.container {
  margin-top: 50px;
  height: auto !important; }

.banner {
  height: 30%;
  min-height: 100px; }
  .banner .deco {
    width: 100px;
    margin: auto; }
    .banner .deco a {
      display: block;
      border: 1px solid white;
      -webkit-border-radius: 0.5em;
      -moz-border-radius: 0.5em;
      -ms-border-radius: 0.5em;
      -o-border-radius: 0.5em;
      border-radius: 0.5em;
      padding: 0.5em;
      color: white;
      text-decoration: none; }
      .banner .deco a:hover, .banner .deco a:focus {
        -webkit-transition: all 0.3s ease;
        -webkit-transition-delay: 0.1s;
        -moz-transition: all 0.3s ease 0.1s;
        -o-transition: all 0.3s ease 0.1s;
        transition: all 0.3s ease 0.1s;
        background-color: white;
        color: #111111; }

/*INDEX PAS CO*/
.logo {
  height: 15%;
  margin-bottom: 0.5em;
  font-family: Oswald, georgia, "Helvetica neue", arial, freesans, clean, sans-serif; }
  .logo h1 {
    border-bottom: 0;
    font-size: 1.7em; }
    .logo h1 a {
      text-decoration: none;
      color: white;
      font-weight: bold; }

.main.one {
  background-color: transparent; }

.intro {
  font-size: 1.618em;
  color: white;
  display: none;
  font-weight: bold;
  width: 80%;
  margin: auto;
  text-align: center; }

.connexion {
  border: 1px solid #737373;
  max-width: 400px;
  margin: auto;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  border-radius: 0.5em;
  box-sizing: border-box;
  padding: 1em 0.5em;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8); }
  .connexion:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  .connexion input, .connexion label {
    display: inline-block;
    width: 100%; }
  .connexion input {
    margin-top: 0.5em;
    height: 50px;
    font-size: 1em; }
  .connexion label {
    padding-bottom: 0;
    color: #111111;
    font-weight: bold;
    font-size: 1.1em; }
  .connexion .problemeCompte {
    margin: auto;
    text-align: center;
    display: inline-block;
    height: 20px; }

/*END INDEX PAS CO*/
/* INDEX CO*/
.logo h1 {
  line-height: 1.2;
  font-size: 1.3em; }
  .logo h1 .nom {
    display: none; }

.nav {
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  right: 0;
  background-color: #5097bd;
  color: white;
  font-size: 1.5em;
  font-family: Oswald, georgia, "Helvetica neue", arial, freesans, clean, sans-serif;
  padding: 0 0.5em;
  -webkit-box-shadow: black 0 0 4px 0;
  -moz-box-shadow: black 0 0 4px 0;
  box-shadow: black 0 0 4px 0; }
  .nav .wrapper {
    position: relative; }
  .nav .accueil {
    width: 15.66667%;
    float: left;
    margin-left: 0.5%;
    margin-right: 0.5%;
    display: block;
    box-sizing: border-box;
    margin-bottom: 1%;
    font-weight: bold;
    max-width: 70px;
    padding-top: 0.25em;
    margin-bottom: 0;
    text-align: center;
    height: 50px; }
    .nav .accueil:after {
      content: "";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    .nav .accueil:hover, .nav .accueil:focus {
      background-color: #3c7c9e; }
  .nav a, .nav ul {
    display: block;
    color: white;
    text-decoration: none; }
  .nav .menuLow {
    float: right;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    left: 100px;
    padding-right: 36px;
    display: block; }
    .nav .menuLow span {
      float: right; }
    .nav .menuLow:after {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      content: "";
      display: block;
      float: right;
      width: 32px;
      height: 32px;
      background-image: url('../img/framework/icon/menu2White.png?1385138881'); }
  .nav .menu {
    width: 82.33333%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    float: left;
    display: block;
    box-sizing: border-box;
    display: none;
    width: 100%;
    padding: 1em;
    z-index: 90;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    top: 50px; }
    .nav .menu:after {
      content: "";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    .nav .menu li {
      display: inline-block;
      width: 100%;
      font-size: 1em;
      margin-bottom: 0.5em; }
      .nav .menu li a {
        padding: 0.5em; }
        .nav .menu li a:hover, .nav .menu li a:focus {
          background-color: #3c7c9e; }

.sceanceEnCours {
  margin-top: 1em;
  padding: 0 1em;
  margin-bottom: 2em; }
  .sceanceEnCours h2 {
    text-align: center;
    margin-bottom: 1em; }
  .sceanceEnCours .sceance {
    width: 100%;
    margin: auto;
    display: block;
    float: none;
    box-sizing: border-box;
    margin-top: 1em;
    position: relative;
    max-width: 200px;
    height: 200px;
    border: 1px solid #5097bd;
    padding-bottom: 1em; }
    .sceanceEnCours .sceance:after {
      content: "";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    .sceanceEnCours .sceance:hover .titre, .sceanceEnCours .sceance:focus .titre {
      opacity: 0.5;
      -webkit-transition: opacity 0.3s ease;
      -moz-transition: opacity 0.3s ease;
      -o-transition: opacity 0.3s ease;
      transition: opacity 0.3s ease; }
    .sceanceEnCours .sceance:hover .number, .sceanceEnCours .sceance:focus .number {
      opacity: 0.5;
      -webkit-transition: opacity 0.3s ease;
      -moz-transition: opacity 0.3s ease;
      -o-transition: opacity 0.3s ease;
      transition: opacity 0.3s ease; }
    .sceanceEnCours .sceance:hover .text, .sceanceEnCours .sceance:focus .text {
      opacity: 0.5;
      -webkit-transition: opacity 0.3s ease;
      -moz-transition: opacity 0.3s ease;
      -o-transition: opacity 0.3s ease;
      transition: opacity 0.3s ease; }
    .sceanceEnCours .sceance:hover .overImage, .sceanceEnCours .sceance:focus .overImage {
      opacity: 1;
      -webkit-transition: opacity 0.3s ease;
      -moz-transition: opacity 0.3s ease;
      -o-transition: opacity 0.3s ease;
      transition: opacity 0.3s ease; }
    .sceanceEnCours .sceance .overImage {
      display: block;
      opacity: 0;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      text-align: center;
      box-sizing: border-box;
      z-index: 10; }
      .sceanceEnCours .sceance .overImage a {
        margin-top: 40%;
        width: 40.66667%;
        margin-left: 0.5%;
        margin-right: 0.5%;
        float: left;
        display: block;
        box-sizing: border-box;
        margin-left: 3.16667%;
        height: 32px;
        font-family: Oswald, georgia, "Helvetica neue", arial, freesans, clean, sans-serif; }
        .sceanceEnCours .sceance .overImage a:after {
          content: "";
          display: block;
          height: 0;
          clear: both;
          visibility: hidden; }
        .sceanceEnCours .sceance .overImage a + a {
          margin-top: 40%;
          width: 40.66667%;
          margin-left: 0.5%;
          margin-right: 0.5%;
          float: left;
          display: block;
          box-sizing: border-box;
          margin-left: 11.5%;
          margin-right: 3.16667%; }
          .sceanceEnCours .sceance .overImage a + a:after {
            content: "";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden; }
    .sceanceEnCours .sceance .titre {
      background-color: #5097bd;
      height: 40px; }
      .sceanceEnCours .sceance .titre h3 {
        border-bottom: 0;
        margin: 0 auto;
        color: white;
        padding-top: 10px; }
    .sceanceEnCours .sceance .number {
      font-size: 4.778em;
      display: block;
      margin: auto;
      text-align: center;
      font-weight: bold; }
    .sceanceEnCours .sceance .text {
      text-align: center;
      display: block;
      margin: auto; }

.mesCours {
  margin-top: 1em;
  padding: 0 1em;
  margin-bottom: 2em; }
  .mesCours h2 {
    text-align: center;
    margin-bottom: 1em; }
  .mesCours .cours {
    width: 100%;
    margin: auto;
    display: block;
    float: none;
    box-sizing: border-box;
    background-color: white;
    margin-top: 1em;
    position: relative;
    width: 200px;
    height: 100px;
    box-sizing: border-box;
    border: 1px solid #5097bd; }
    .mesCours .cours:after {
      content: "";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    .mesCours .cours:hover .titre, .mesCours .cours:focus .titre {
      opacity: 0.5;
      -webkit-transition: opacity 0.3s ease, 1s;
      -webkit-transition-delay: 0.3s, 0s;
      -moz-transition: opacity 0.3s ease 0.3s, 1s;
      -o-transition: opacity 0.3s ease 0.3s, 1s;
      transition: opacity 0.3s ease 0.3s, 1s; }
    .mesCours .cours:hover .horaire, .mesCours .cours:focus .horaire {
      opacity: 0.5;
      -webkit-transition: opacity 0.3s ease, 1s;
      -webkit-transition-delay: 0.3s, 0s;
      -moz-transition: opacity 0.3s ease 0.3s, 1s;
      -o-transition: opacity 0.3s ease 0.3s, 1s;
      transition: opacity 0.3s ease 0.3s, 1s; }
    .mesCours .cours:hover .overImage, .mesCours .cours:focus .overImage {
      opacity: 1;
      -webkit-transition: opacity 0.3s ease, 1s;
      -webkit-transition-delay: 0.3s, 0s;
      -moz-transition: opacity 0.3s ease 0.3s, 1s;
      -o-transition: opacity 0.3s ease 0.3s, 1s;
      transition: opacity 0.3s ease 0.3s, 1s; }
    .mesCours .cours .titre {
      width: 75%;
      margin: auto;
      display: block;
      float: none;
      box-sizing: border-box;
      float: left;
      padding-top: 33px;
      height: 100%;
      background-color: white; }
      .mesCours .cours .titre:after {
        content: "";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden; }
      .mesCours .cours .titre h3 {
        border-bottom: 0;
        margin: 0 auto;
        color: #111111;
        padding-top: 10px;
        max-width: 100%;
        word-break: break-all; }
    .mesCours .cours .horaire {
      width: 25%;
      float: left;
      display: block;
      box-sizing: border-box;
      height: 100%;
      background-color: #5097bd;
      padding: 0 0.5em;
      font-family: Oswald, georgia, "Helvetica neue", arial, freesans, clean, sans-serif;
      color: white;
      background-color: #5097bd; }
      .mesCours .cours .horaire:after {
        content: "";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden; }
      .mesCours .cours .horaire .debut, .mesCours .cours .horaire .fin {
        height: 50%;
        display: block;
        box-sizing: border-box;
        padding-top: 25%;
        font-weight: bold;
        margin: auto; }
      .mesCours .cours .horaire .debut {
        border-bottom: 1px solid rgba(255, 255, 255, 0.7); }
    .mesCours .cours .overImage {
      opacity: 0;
      height: 100px;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      font-family: Oswald, georgia, "Helvetica neue", arial, freesans, clean, sans-serif;
      z-index: 10; }
      .mesCours .cours .overImage a {
        margin-top: 30px;
        margin-left: 70px; }

.planning {
  margin-top: 1em;
  padding: 0 1em;
  margin-bottom: 2em;
  position: relative; }
  .planning:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  .planning .jour {
    display: block;
    width: 100%;
    margin-top: 1em;
    font-size: 1.272em;
    text-align: center; }
  .planning .day {
    width: 100%;
    margin: auto;
    display: block;
    float: none;
    box-sizing: border-box;
    height: 150px;
    width: 150px;
    border: 1px solid #111111;
    position: relative; }
    .planning .day:after {
      content: "";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    .planning .day:hover .overDay, .planning .day:focus .overDay {
      opacity: 1;
      -webkit-transition: opacity 0.3s ease, 1s;
      -webkit-transition-delay: 0.3s, 0s;
      -moz-transition: opacity 0.3s ease 0.3s, 1s;
      -o-transition: opacity 0.3s ease 0.3s, 1s;
      transition: opacity 0.3s ease 0.3s, 1s; }
    .planning .day .overDay {
      opacity: 0;
      text-align: center; }
      .planning .day .overDay a {
        display: inline-block; }
    .planning .day .number {
      font-size: 4.236em;
      font-weight: bold;
      display: inline-block;
      text-align: center;
      width: 100%;
      margin-top: 10%;
      position: relative;
      z-index: 2; }
    .planning .day .sceances {
      color: white;
      position: relative;
      height: 100%;
      z-index: 1;
      opacity: 0.7;
      pointer-events: none;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto; }
      .planning .day .sceances:hover, .planning .day .sceances:focus {
        opacity: 1; }
      .planning .day .sceances li {
        padding: 0 0.5em;
        pointer-events: auto;
        background-color: #bfbfbf;
        border-bottom: 1px solid white;
        text-align: center;
        font-weight: bold;
        color: #111111;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease; }
        .planning .day .sceances li .overSeance {
          color: #111111; }
        .planning .day .sceances li:hover, .planning .day .sceances li:focus {
          -webkit-transition: all 0.2s ease;
          -moz-transition: all 0.2s ease;
          -o-transition: all 0.2s ease;
          transition: all 0.2s ease; }
      .planning .day .sceances .quatreH {
        height: 50%; }
      .planning .day .sceances .deuxH {
        height: 25%; }

.addContent {
  background-color: #5097bd;
  color: white;
  width: 100%;
  margin: auto;
  display: block;
  float: none;
  box-sizing: border-box;
  display: none;
  padding: 1em;
  min-height: 100%; }
  .addContent:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  .addContent a {
    color: white; }
  .addContent h3 {
    margin-top: 0.5em;
    border-bottom: 0; }
  .addContent .wrapper {
    padding-bottom: 1em;
    border-bottom: 1px solid #f2f2f2; }
    .addContent .wrapper:last-child {
      border-bottom: 0; }
  .addContent .sceance {
    border: 1px solid #f2f2f2;
    padding: 0.5em;
    margin: 0.5em 0;
    box-sizing: border-box;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -ms-border-radius: 0.5em;
    -o-border-radius: 0.5em;
    border-radius: 0.5em; }
    .addContent .sceance span {
      display: block; }

/* END INDEX CO*/
.main {
  background-color: white;
  padding-bottom: 3em; }
  .main:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

/* BREADCRUMB */
.breadcrumbs {
  padding: 0 1em;
  height: 40px;
  box-sizing: border-box;
  background-color: #f2f2f2; }
  .breadcrumbs a, .breadcrumbs span {
    display: inline-block;
    color: #111111;
    margin-top: 5px; }

/* END BREADCRUMB */
/* FOOTER */
.foot {
  background-color: #5097bd;
  min-height: 30%;
  position: relative; }
  .foot .copyright {
    padding: 0 1em;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    color: white; }
    .foot .copyright a {
      color: white;
      text-decoration: underline; }

/* END FOOTER */
/* MEDIA QUERIES */
/* CONFIG */
/* typography */
/* END typography */
/*media*/
/*END MEDIA*/
/*COLOR*/
@media (min-width: 500px) {
  /* INDEX PAS CO */
  .logo h1 {
    font-size: 2.618em; }

  .intro {
    display: block;
    margin: 1em auto; }

  .connexion {
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 0 10px 0px;
    -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 0 10px 0px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 10px 0px;
    padding: 1em; }
    .connexion input[type='submit'] {
      width: 49%;
      margin-left: 0.5%;
      float: right;
      display: block;
      box-sizing: border-box; }
      .connexion input[type='submit']:after {
        content: "";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden; }
    .connexion .problemeCompte {
      width: 49%;
      float: left;
      margin-left: 0.5%;
      margin-right: 0.5%;
      display: block;
      box-sizing: border-box;
      margin-bottom: 1%;
      margin-top: 0.5em;
      text-align: left; }
      .connexion .problemeCompte:after {
        content: "";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden; }
      .connexion .problemeCompte a {
        display: inline-block;
        width: 100%; }
      .connexion .problemeCompte span {
        display: none; }

  /* END INDEX PAS CO */
  /* INDEX CO */
  .sceanceEnCours {
    width: 49%;
    float: left;
    margin-left: 0.5%;
    margin-right: 0.5%;
    display: block;
    box-sizing: border-box;
    margin-bottom: 1%; }
    .sceanceEnCours:after {
      content: "";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    .sceanceEnCours:after {
      content: "";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    .sceanceEnCours h2 {
      text-align: left;
      height: 50px; }
    .sceanceEnCours .sceance {
      margin-left: 0; }

  .mesCours {
    width: 49%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    float: left;
    display: block;
    box-sizing: border-box; }
    .mesCours:after {
      content: "";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    .mesCours:after {
      content: "";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    .mesCours .cours {
      margin-left: 0; }
    .mesCours h2 {
      height: 50px;
      text-align: left; }

  .planning h2 {
    text-align: left; }
  .planning .groupe {
    width: 33.33333%;
    float: left;
    display: block;
    box-sizing: border-box; }
    .planning .groupe:after {
      content: "";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }

  /* END INDEX CO */ }
@media (min-width: 700px) {
  .banner {
    min-height: 250px; }

  .container {
    margin-top: 0; }

  .nav {
    position: relative;
    -webkit-box-shadow: transparent 0 0 0 0;
    -moz-box-shadow: transparent 0 0 0 0;
    box-shadow: transparent 0 0 0 0;
    background-color: rgba(80, 151, 189, 0.4); }
    .nav .menuLow {
      display: none; }
    .nav .wrapper {
      background-color: rgba(255, 255, 255, 0.05);
      height: 50% !important; }
    .nav .menu {
      width: 82.33333%;
      margin-left: 0.5%;
      float: right;
      display: block;
      box-sizing: border-box;
      position: relative;
      top: 0;
      height: 50px;
      padding: 0;
      max-width: 600px; }
      .nav .menu:after {
        content: "";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden; }
      .nav .menu li {
        display: inline-block;
        width: 20%;
        float: left;
        display: block;
        box-sizing: border-box;
        font-size: 0.8em;
        line-height: 1.1em;
        height: 100%;
        margin-bottom: 0;
        text-align: center; }
        .nav .menu li:after {
          content: "";
          display: block;
          height: 0;
          clear: both;
          visibility: hidden; }
        .nav .menu li a {
          height: 100%;
          box-sizing: border-box;
          padding: 0 0.5em;
          color: rgba(255, 255, 255, 0.6);
          padding-top: 0.25em; }
        .nav .menu li + li {
          width: 20%;
          float: left;
          display: block;
          box-sizing: border-box;
          border-left: 1px solid rgba(255, 255, 255, 0.5); }
          .nav .menu li + li:after {
            content: "";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden; }

  .planning {
    width: 99%;
    float: left;
    margin-left: 0.5%;
    margin-right: 0.5%;
    display: block;
    box-sizing: border-box;
    margin-bottom: 1%; }
    .planning:after {
      content: "";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    .planning .groupe {
      width: 25%;
      float: left;
      display: block;
      box-sizing: border-box; }
      .planning .groupe:after {
        content: "";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden; } }
@media (min-width: 900px) {
  .main .left {
    width: 75%;
    float: left;
    display: block;
    box-sizing: border-box; }
    .main .left:after {
      content: "";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
  .main .right {
    width: 25%;
    float: left;
    display: block;
    box-sizing: border-box; }
    .main .right:after {
      content: "";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }

  .sceanceEnCours {
    width: 32.33333%;
    float: left;
    margin-left: 0.5%;
    margin-right: 0.5%;
    display: block;
    box-sizing: border-box;
    margin-bottom: 1%; }
    .sceanceEnCours:after {
      content: "";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }

  .mesCours {
    width: 65.66667%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    float: left;
    display: block;
    box-sizing: border-box; }
    .mesCours:after {
      content: "";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    .mesCours .cours {
      width: 49%;
      float: left;
      margin-left: 0.5%;
      margin-right: 0.5%;
      display: block;
      box-sizing: border-box;
      margin-bottom: 1%; }
      .mesCours .cours:after {
        content: "";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden; }
      .mesCours .cours + .cours {
        width: 49%;
        margin-left: 0.5%;
        margin-right: 0.5%;
        float: left;
        display: block;
        box-sizing: border-box; }
        .mesCours .cours + .cours:after {
          content: "";
          display: block;
          height: 0;
          clear: both;
          visibility: hidden; }

  .addContent {
    width: 100%;
    margin: auto;
    display: block;
    float: none;
    box-sizing: border-box;
    min-height: 100%;
    height: auto !important; }
    .addContent:after {
      content: "";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }

  .planning {
    width: 74%;
    float: left;
    margin-left: 0.5%;
    margin-right: 0.5%;
    display: block;
    box-sizing: border-box;
    margin-bottom: 1%; }
    .planning:after {
      content: "";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    .planning .groupe {
      width: 25%;
      float: left;
      display: block;
      box-sizing: border-box; }
      .planning .groupe:after {
        content: "";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden; } }
/* END MEDIA*/
