@import "compass";
@import "variables";
@media(min-width: 500px){
  /* INDEX PAS CO */
  .logo{
    h1{
      font-size: 2.618em;
    }
  }
  .intro{
    display: block;
    margin: 1em auto;
  }
  .connexion{
    @include box-shadow(rgba(0,0,0,0.3) 0 0 10px 0px);
    padding:1em;
    input[type='submit']{
      @include cr(6);
    }
    .problemeCompte{
      @include cfl(6);
      margin-top: 0.5em;
      text-align: left;
      a{
        display:inline-block;
        width:100%;
      }
      span{
        display: none;
      }
    }
  }
  /* END INDEX PAS CO */
}

@media (min-width: $mw){

}
@media (max-width: $mw){

}