@import "compass";
@import "variables";

@media(min-width: 500px) {
  /* INDEX PAS CO */
  .logo {
    h1 {
      font-size: 2.618em;
    }
  }
  .intro {
    display: block;
    margin: 1em auto;
  }
  .connexion {
    @include box-shadow(rgba(0, 0, 0, 0.3) 0 0 10px 0px);
    padding: 1em;
    input[type='submit'] {
      @include cr(6);
    }
    .problemeCompte {
      @include cfl(6);
      margin-top: 0.5em;
      text-align: left;
      a {
        display: inline-block;
        width: 100%;
      }
      span {
        display: none;
      }
    }
  }
  /* END INDEX PAS CO */
  /* INDEX CO */
  .news{
    max-width: colParent(12 , 9);
    margin-right: 0;
    margin-left: auto;
    width:100%;
    &:after{
      @include clear();
    }
  }
  .calendrier{
    max-width: colParent(12 , 9);
    margin-right: 0;
    &:after{
      @include clear();
    }
  }
  .sceanceEnCours {
    @include cfl(6);
    &:after {
      @include clear();
    }
    h2 {
      text-align: left;
      height: 50px;
    }
    .sceance {
      margin-left: 0;
    }
  }
  .mesCours {
    @include cl(6);
    &:after {
      @include clear();
    }
    .cours {
      margin-left: 0;
    }
    h2 {
      height: 50px;
      text-align: left;
    }
  }
  .planning {
    h2 {
      text-align: left;
    }
    .groupe {
      @include cl-nm(4);
    }
    .jour {
      //@include cl-nm(6);
    }
    .day {
      //@include cl-nm(6);
    }
  }
  /* END INDEX CO */
}

@media(min-width: 700px) {
  .banner {
    min-height: 250px;
  }
  .container {
    margin-top: 0;

  }
  .nav {
    position: relative;
    @include box-shadow(transparent 0 0 0 0);
    background-color: rgba($mc, 0.4);
    .menuLow {
      display: none;
    }
    .wrapper {
      background-color: rgba(white, 0.05);
      height: 50% !important;

    }
    .menu {
      @include cr(10);
      position: relative;
      top: 0;
      height: 50px;
      padding: 0;
      max-width: 600px;
      li {
        display: inline-block;
        @include cl-nm(2.4);
        font-size: 0.8em;
        line-height: 1.1em;
        height: 100%;
        margin-bottom: 0;
        text-align: center;
        a {
          height: 100%;
          box-sizing: border-box;
          padding: 0 $pd;
          color: rgba(white, 0.6);
          padding-top: $pd/2;
        }
        & + li {
          @include cl-nm(2.4);
          border-left: 1px solid rgba(white, 0.5);
        }
      }
    }
  }
  .planning {
    @include cfl(12);
    .groupe {
      @include cl-nm(3);
    }
  }
}

@media(min-width: 900px) {
  .logo {
    h1 {
      .nom {
        display: inline-block;
      }
      .prenom{
       color:white;
      }
    }
  }
  .main {
    .left {
      @include cl-nm(9);
    }
    .right {
      @include cl-nm(3);
    }
  }
  .sceanceEnCours {
    @include cfl(4);
  }
  .mesCours {
    @include cl(8);
    .cours {
      @include cfl(6);

      & + .cours {
        @include cl(6);
      }
    }
  }

  .addContent {

    @include c(12);
    max-width:colParent(12,3);
    min-height: 100%;
    margin-left: 0;
    height: auto !important;
  }
  .planning {
    @include cfl(12);
    .groupe {
      @include cl-nm(3);
    }
  }
}

@media (min-width: $mw) {
  .planning {
    @include cfl(12);
    .groupe {
      @include cl-nm(2.4);
    }
  }
}

@media (max-width: $mw) {

}