@import "variables";
@import "mixin";
@import "compass";
@import "compass/reset";
@import "compass/css3";
@import "icons";
@import url(http://fonts.googleapis.com/css?family=Oswald:300,400,700);

@include body();
@include container();
@include heading();
@include section();
@include wrapper();
@include article();
@include breadcrumbs();
@include btn();
@include label();
@include input();
@include img();
@include icon();
@include tab();
/* GENERAL */
body {
  background-color: $mc;
  background-image: image-url('framework/background/background.jpg');
  background-size: cover;
  background-attachment: fixed;
  /* background-color: #fff;
  background-image:
  linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
  linear-gradient(#eee .1em, transparent .1em);
  background-size: 100% 1.2em;
  /* background-color: $mc;
  background-image: linear-gradient(90deg, rgba(255,255,255,.07) 50%, transparent 50%),
  linear-gradient(90deg, rgba(255,255,255,.13) 50%, transparent 50%),
  linear-gradient(90deg, transparent 50%, rgba(255,255,255,.17) 50%),
  linear-gradient(90deg, transparent 50%, rgba(255,255,255,.19) 50%);
  background-size: 13px, 29px, 37px, 53px; */

}

/*INDEX PAS CO*/

.logo {
  height: 15%;
  margin-bottom: 0.5em;
  font-family: $ff2;
  h1 {
    border-bottom: 0;
    font-size: 1.7em;
  }
}

.intro {
  font-size: 1.618em;
  color: white;
  display: none;
  width: 80%;
  margin: auto;
  text-align: center;

}

.connexion {
  border: 1px solid $greyD;
  max-width: 400px;
  margin: auto;
  @include border-radius($pd);
  box-sizing: border-box;
  padding: 1em $pd;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  &:after {
    @include clear();
  }
  input, label {
    display: inline-block;
    width: 100%;
  }
  input {
    margin-top: $pd;
    height: 50px;
    font-size: 1em;
  }
  label {
    padding-bottom: 0;
    color: $tc;
    font-weight: bold;
    font-size: 1.1em;
  }
  .problemeCompte {
    margin: auto;
    text-align: center;
    display: inline-block;
    height: 20px;
  }
}

/*INDEX PAS CO*/
/* MEDIA QUERIES */
@import "responsive";
/* END MEDIA*/