@import "variables";
@import "mixin";
@import "compass";
@import "compass/reset";
@import "compass/css3";
@import "icons";
@import url(http://fonts.googleapis.com/css?family=Oswald:300,400,700);

@include body();
@include container();
@include heading();
@include section();
@include wrapper();
@include article();
@include breadcrumbs();
@include btn();
@include label();
@include input();
@include img();
@include icon();
@include tab();
/* GENERAL */
body {
  background-color: $mc;
  background-image: image-url('framework/background/background.jpg');
  background-size: cover;
  background-attachment: fixed;
  height: auto !important;

}

.container {
  margin-top: 50px;
  height: auto !important;
}

.banner {
  height: 30%;
  min-height: 100px;
  .deco {
    width: 100px;
    margin: auto;
    a {
      display: block;
      border: 1px solid white;
      @include border-radius($pd);
      padding: $pd;
      color: white;
      text-decoration: none;
      &:hover, &:focus {
        @include single-transition(all, 0.3s, ease, 0.1s);
        background-color: white;
        color: $tc;
      }
    }
  }
}

/*INDEX PAS CO*/

.logo {
  height: 15%;
  margin-bottom: 0.5em;
  font-family: $ff2;
  padding-top: $pd;
  h1 {
    border-bottom: 0;
    font-size: 1.7em;
    a {
      text-decoration: none;
      color: white;
      font-weight: bold;
    }
  }
}

.main.one {
  background-color: transparent;
}

.intro {
  font-size: 1.618em;
  color: white;
  display: none;
  font-weight: bold;
  width: 80%;
  margin: auto;
  text-align: center;

}

.connexion {
  border: 1px solid $greyD;
  max-width: 400px;
  margin: auto;
  @include border-radius($pd);
  box-sizing: border-box;
  padding: 1em $pd;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  &:after {
    @include clear();
  }
  input, label {
    display: inline-block;
    width: 100%;
  }
  input {
    margin-top: $pd;
    height: 50px;
    font-size: 1em;
  }
  label {
    padding-bottom: 0;
    color: $tc;
    font-weight: bold;
    font-size: 1.1em;
  }
  .problemeCompte {
    margin: auto;
    text-align: center;
    display: inline-block;
    height: 20px;
  }
}

/*END INDEX PAS CO*/

/* INDEX CO*/
.logo {
  h1 {
    line-height: 1.2;
    font-size: 1.3em;
    .nom {
      display: none;
    }
  }
}

.nav {
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  right: 0;
  background-color: $mc;
  color: white;
  font-size: 1.5em;
  font-family: $ff2;
  padding: 0 $pd;
  @include box-shadow(black 0 0 4px 0);
  .wrapper {
    position: relative;
  }
  .accueil {
    @include cfl(2);
    font-weight: bold;
    max-width: 70px;
    margin-left: 0;
    margin-bottom: 0;
    text-align: left;
    height: 50px;
    font-size: 1.2em;
    &:hover, &:focus {
      background-color: darken($mc, 10%);
    }
  }

  a, ul {
    display: block;
    color: white;
    text-decoration: none;
  }
  .menuLow {
    float: right;
    @include abs-top();
    left: 100px;
    padding-right: 36px;
    display: block;
    span {
      float: right;
    }
    //padding-right: 16px;
    &:after {
      @include abs-right();
      content: "";
      display: block;
      float: right;
      width: 32px;
      height: 32px;

      background-image: image-url('framework/icon/menu2White.png');
    }
  }

  .menu {
    @include cl(10);
    display: none;
    width: 100%;
    padding: 1em;
    z-index: 90;
    @include abs-top();
    top: 50px;
    li {
      display: inline-block;
      width: 100%;
      font-size: 1em;
      margin-bottom: 0.5em;
      a {
        padding: $pd;
        &:hover, &:focus {
          background-color: darken($mc, 10%);
        }
      }
    }
  }

}

.sceanceEnCours {
  margin-top: 1em;
  padding: 0 1em;
  margin-bottom: 2em;
  h2 {
    text-align: center;
    margin-bottom: 1em;
  }
  .sceance {
    @include c(12);
    margin-top: 1em;
    position: relative;
    max-width: 200px;
    height: 200px;
    border: 1px solid $mc;
    padding-bottom: 1em;
    &:hover, &:focus {

      .titre {
        opacity: 0.5;
        @include single-transition(opacity, 0.3s, ease);
      }
      .number {
        opacity: 0.5;
        @include single-transition(opacity, 0.3s, ease);
      }
      .text {
        opacity: 0.5;
        @include single-transition(opacity, 0.3s, ease);
      }
      .overImage {
        opacity: 1;
        @include single-transition(opacity, 0.3s, ease);
      }
    }
    .overImage {
      display: block;
      opacity: 0;
      @include abs();
      text-align: center;
      box-sizing: border-box;
      z-index: 10;
      a {
        height: 32px;
        font-family: $ff2;
        margin: auto;
        margin-top: 40%;
        & + a {
          margin-top: 40%;
          @include cl-nm(5);
          margin-left: 15px;

        }

      }
    }
    .titre {
      background-color: $mc;
      height: 40px;
      @include box-shadow(rgba(black,0.2) 0 2px 2px 1px);
      h3 {
        border-bottom: 0;
        margin: 0 auto;
        color: white;
        padding-top: 10px;
      }
    }
    .number {
      font-size: 4.778em;
      display: block;
      margin: auto;
      text-align: center;
      font-weight: bold;

    }
    .text {
      text-align: center;
      display: block;
      margin: auto;
    }
  }
}

.mesCours {
  margin-top: 1em;
  padding: 0 1em;
  margin-bottom: 2em;
  h2 {
    text-align: center;
    margin-bottom: 1em;
  }
  .cours {
    @include c(12);
    background-color: white;
    //margin-top: 1em;
    position: relative;
    max-width: 250px;
    height: 100px;
    box-sizing: border-box;
    border: 1px solid $mc;
    &:hover, &:focus {
      .titre {
        opacity: 0.5;
        @include single-transition(opacity 0.3s ease 0.3s);
      }
      .horaire {
        opacity: 0.5;
        @include single-transition(opacity 0.3s ease 0.3s);
      }

      .overImage {
        opacity: 1;
        @include single-transition(opacity 0.3s ease 0.3s);
      }
    }
    .titre {
      @include c(9);
      float: left;
      padding-top: 33px;
      height: 100%;
      background-color: white;
      h3 {
        border-bottom: 0;
        margin: 0 auto;
        color: $tc;
        padding-top: 10px;
        max-width: 100%;
        word-break: break-all;

      }
    }
    .horaire {
      @include cl-nm(3);
      height: 100%;
      background-color: $mc;
      padding: 0 5px;
      font-family: $ff2;
      color: white;
      background-color: $mc;
      .debut, .fin {
        height: 50%;
        display: block;
        box-sizing: border-box;
        padding-top: 25%;
        font-weight: bold;
        margin: auto;
      }

      .debut {
        border-bottom: 1px solid rgba(255, 255, 255, 0.7);
      }
      .fin {

      }
    }
    .overImage {
      opacity: 0;
      height: 100px;
      @include abs();
      font-family: $ff2;
      z-index: 10;
      a {
        margin-top: 30px;
        margin-left: 33%;

      }
    }
  }
}

.calendrier {
  background-color: $greyL;
  padding: 3em 0;
  &:after {
    @include clear();
  }
}

.planning {
  margin-top: 1em;
  padding: 0 1em;
  float: left;
  @include c(12);
  margin-bottom: 2em;
  position: relative;
  &:after {
    @include clear();
  }
  .jour {
    display: block;
    width: 100%;
    margin-top: 1em;
    font-size: 1.272em;
    text-align: center;
  }
  .day {
    @include cf(12);
    height: 150px;
    width: 150px;
    border: 1px solid $tc;
    position: relative;
    background-color: white;
    & + .day{
      @include c(12);
    }
    &:hover, &:focus {
      .overDay {
        opacity: 1;
        @include single-transition(opacity 0.3s ease 0.3s);
      	
      }
    }
    .overDay {
      opacity: 0;
     @include abs-bot();
      z-index: 10;
      text-align: center;
      a {
        display: inline-block;
      }
    }
    .number {
      font-size: 1.825em;
      margin-left: $pd;
      font-weight: bold;
      display: inline;
      text-align: left;
      color:$greyD;
      width: 100%;
      pointer-events:none;
      margin-top: 10%;
      position: relative;
      z-index: 2;
      &:after{
      	content:".";
      }
    }
    .sceances {
      color: white;
      position: relative;
      height: 100%;
      z-index: 1;
      opacity: 1;
      pointer-events: none;
      @include abs-bot();
      &:hover, &:focus {
        opacity: 1;
      }
      li {
        padding: 0 $pd;
        pointer-events: auto;
        background-color: $mc;
        border-bottom: 1px solid white;
        text-align: center;
        font-weight: bold;
        color: white;
        cursor:pointer;
        @include single-transition(all, 0.2s, ease);
        .overSeance {
          color: $tc;
        }
        &:hover, &:focus {
            @include scale(1.1);
          @include single-transition(all, 0.2s, ease);
          border-bottom: 0;
          @include box-shadow(rgba(black,0.3) 0 0 4px 0);
        }
      }
      .quatreH {
        height: 50%;
      }
      .deuxH {
        height: 25%;
      }
      .troisH {

      }
      .sixH {

      }
      .septH {

      }
      .huitH {

      }
    }
  }
}

.addContent {


  color: white;
  @include c(12);
  display: none;
  padding: 1em;
  min-height: 100%;
  a {
    color: white;
  }
  h3 {
    margin-top: $pd;
    border-bottom: 0;
  }
  .wrapper {
    padding-bottom: 1em;
    border-bottom: 1px solid $greyL;
    &:last-child {
      border-bottom: 0;
    }
  }
  .sceance {
    border: 1px solid $greyL;
    padding: $pd;
    margin: $pd 0;
    box-sizing: border-box;
    @include border-radius($pd);
    span {
      display: block;
    }
  }

}

/* END INDEX CO*/
.main {
  background-color: white;
  &:after {
    @include clear();
  }
  .title{
  }
}
.right{
  background-color: $mc;
}
/* BREADCRUMB */

.breadcrumbs {
  padding: 0 1em;
  height: 40px;
  box-sizing: border-box;
  background-color: $greyL;

  a, span {
    display: inline-block;
    color: $tc;
    margin-top: 8px;
  }
}

/* END BREADCRUMB */

/* FOOTER */
.foot {

  background-color: $mc;
  min-height: 150px;
  position: relative;
  height: auto;
  display: block;
  .copyright {
    padding: 0 1em;
    @include abs-bot();
    text-align: center;
    color: white;
    bottom:10px;
    a {
      color: white;
      text-decoration: underline;
    }
  }
}

/* END FOOTER */
/* MEDIA QUERIES */
@import "responsive";
/* END MEDIA*/